body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(65, 62, 62);
    font-size: 18px;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-right: 10px;
    padding-left: 10px;
}

input {
    height: 55px;
    border-radius: 6px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 12px;
}

input[type=button] {
    background-color: orange;
    border: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    height: 55px;
    width: 150px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=password]:focus {
    background-color: lightblue;
}

input[type=button]:hover {
    background-color: rgb(214, 146, 20);
}

#messages {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;
    width: 97.5%;
    display: inline-block;
    border: 1px solid white;
    background-color: black;
    max-height: 220px;
    min-height: 220px;
    overflow: scroll;
}

#messages span {
    overflow-y: scroll;
    overflow: scroll;
}

hr {
    border: 0;
    height: 2px;
    background-color: oranges;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}